<h1 class="baintodo_list_title">New Baintodo List</h1>

<div class="forms">
  <%= render 'form', baintodo_list: @baintodo_list %>
</div>

<div class="links">
  <%= link_to 'Back', baintodo_lists_path %>
</div>